.modal  {
	width: auto !important;
}

.rowContainer {
	flex-direction: row;
	overflow:hidden;
	padding: 10px 0;
}
.boldFont {
	font-weight: bold;
}
.rightFloat {
	float: right;
}
.leftFloat {
	float: left;
}
.flexDisplay {
	display: flex;
}
.spaceLeft {
	padding-left: 25px;
}
.boldHr {
	background-color: #a0a0a0;
	height: 1px;
}
.custModalBtnWidth {
	width:135px;
	margin-right: 21px;
}
.maxTraceCount {
	width: 15px;
	height: 10px !important;
	margin-left: 5px;
}
.traceOptions {
	padding-left: 70px;
}
.fullTraceOptions {
	margin-right: 15px;
}

.form-group select {
	width: 280px;
}
.registerSelectSpace {
	margin-right: 10px;
}