.bottomPannel {
	display: flex;
}
.inputWindow {
	width: 20%;
}
.inputTextArea {
	width: 90%;
	max-width: 90%;
}
.inputWindowLabel{
	font-weight: 900;
	padding-bottom: 10px;
}
.outputSummaryWindow {
	width: 80%;
}

.nav > .active > a,
.nav > .active > a:hover,
.nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.outputTabs {
	margin-bottom: 0;
}
.consoleBox{
	margin-top: 20px;
	width: 95%;
	resize: none;
	cursor: text !important;
	overflow: auto;
}